/* body */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

/* menu nav links */
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

/*  */
@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");

/* backup for h1 */
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

/* body 2 */
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

@import "./styles/header.css";
@import "./styles/hero.css";
@import "./styles/menu-mobile.css";
@import "./styles/about-section.css";
@import "./styles/skills-section.css";
@import "./styles/projects-section.css";
@import "./styles/footer.css";

/* 
html {
  scroll-behavior: smooth;
} */

* {
  box-sizing: border-box;
}

:root {
  --light: #cf5138;
  --dark: #242424;
  --very-dark: #121212;
}

::selection {
  color: black;
  background-color: white;
}

/* .cursor {
  width: 50px;
  height: 50px;
  border: 1px solid var(--light);
  position: absolute;
  border-radius: 50%;
  z-index: 10000;
  display: hidden;
} */

.container {
  max-width: 1200px;
  margin: auto;
}

body {
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  color: white;
  background-color: var(--very-dark);
  position: relative;
  /* cursor: none; */
}

main {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.2px;
  display: flex;
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 0 5%;
}

section h2::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 4px;
  width: 2rem;
  background-color: var(--light);
  transform: translateX(-2.5rem);
}

.btn {
  cursor: pointer;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.socials ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    gap: 1.5rem;
    padding-right: 3rem;
}

.socials .icon {
  width: 40px;
  height: 40px;
}

.github .icon {
  /* GitHub icon by Icons8 */
  background: no-repeat url("../logos/sticky-bar/github-white.png") center;
}

.linkedin .icon {
  /* LinkedIn 2 icon by Icons8 */
  background: no-repeat url("../logos/sticky-bar/linkedin-white.png") center;
}

.mail .icon {
  /* Mail icon by Icons8 */
  background: no-repeat url("../logos/sticky-bar/mail.png") center;
}

.hide-from-top {
  transform: translateY(200px);
}

.show-from-bottom {
  transform: translateY(0);
  transition: all 0.5s ease;
}

.hide-from-right {
  transform: translateX(-200px);
  transition: all 0.5s ease;
}

.show-from-left {
  transform: translateX(0);
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 0;
    cursor: default;
  }

  section h2 {
    padding: 0 10%;
  }
}
