/* body */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

/* menu nav links */
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

/*  */
@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");

/* backup for h1 */
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

/* body 2 */
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


@import "./styles/header.css";
@import "./styles/hero.css";
@import "./styles/menu-mobile.css";
@import "./styles/about-section.css";
@import "./styles/skills-section.css";
@import "./styles/projects-section.css";
@import "./styles/footer.css";


/* html {
  scroll-behavior: smooth;
} */

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --white: #f8f8f8;
  --light: #cf5138;
  --dark: #242424;
  --very-dark: #121212;
}

.light {
  --bg-color: white;
  --main-text-color: black;
  --skills-bg: var(--white);
  transition: all 0.7s ease-in;
}

.dark {
  --bg-color: var(--very-dark);
  --main-text-color: white;
  --skills-bg: var(--dark);
  transition: all 0.7s ease-out;
}

svg path {
  transition: all 0.2s ease;
}

.light svg path {
  fill: black;
}

.dark svg path {
  fill: white;
}

::selection {
  color: black;
  background-color: white;
}

@keyframes revealTextUp {
  to {
    transform: translateY(0%);
  }
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: auto;
}

body {
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  position: relative;
}

main {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style: none;
}

section h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.1px;
  display: flex;
  position: relative;
  text-transform: uppercase;
  color: var(--light);
  justify-content: center;
  font-size: 1.4rem;
  font-stretch: expanded;
  margin-bottom: 3rem !important;
}

section h2::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 3rem;
  background-color: var(--light);
  transform: translateY(2.2rem);
}

section h3 {
  text-align: center;
  transform: translateX(-200px);
  font-size: 2.25rem;
  text-transform: capitalize;
  max-width: 75%;
  margin: 0 auto 3rem auto;
  font-weight: 400;
  opacity: 0.4;
}

.btn,
svg {
  cursor: pointer;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.socials ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    gap: 0.8rem;
    align-items: center;
}

.show-from-bottom {
  transform: translateY(0) !important;
  transition: all 0.5s ease;
}

.show-from-left {
  transform: translateX(0) !important;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 0;
    cursor: default;
  }

  .container {
    padding: 0 0.15rem;
  }

  section h2 {
    font-size: 0.85rem;
    margin-bottom: 1.5rem !important;
  }

  section h2::after {
    transform: translateY(1.3rem);
    width: 1.5rem;
  }

  section h3 {
    font-size: 1.5rem;
    max-width: 90%;
    margin-bottom: 1.5rem;
  }
}

@media (prefers-reduced-motion) {
  section h3 {
    transform: translateX(0);
  }
}

// All icons are from icon8 and iconscout
// https://icons8.com/
// https://iconscout.com/