#about p {
    line-height: 2;
    font-size: 1.6rem;
    text-align: justify;
    padding: 0 13%;
    margin: auto;
    transform: translateY(200px);
}

@media screen and (max-width: 768px) {
    #about p {
        font-size: 1rem;
        padding: 0 5%;
    }
}