#about p {
    line-height: 1.8;
    font-size: 1.6rem;
    text-align: justify;
    transform: translateY(200px);
}

@media screen and (max-width: 768px) {
    #about p {
        font-size: 1rem;
    }
}

@media (prefers-reduced-motion) {
    #about p {
        transform: translateY(0);
    }
}
  