footer {
    height: 250px;
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    display: flex;
}

footer .container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
}

footer .contact {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

footer .contact p {
    margin: 0.25rem 0 ;
}

footer .contact .email {
    transition: all 0.2s ease-in;
    letter-spacing: 1px;
    color: white;
}

footer .contact .email::after {
  content: '';
  width: 0%;
  height: 2px;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: all 0.5s ease;
}

footer .contact .email:hover::after {
    width: 100%;
}

footer .socials {
    max-width: 200px;
}

footer .socials ul {
    padding: 0;
}

footer small {
    text-align: end;
    color: rgba(225,225,225,0.4);
    position: absolute;
    right: 2px;
    bottom: 2px;
}

@media screen and (max-width: 768px) {
    footer .container {
        flex-direction: column;
        align-items: normal;
        padding: 0 5%;
        gap: 0;
    }
    
    footer .socials ul {
        justify-content: start;
    }
}