footer {
    height: 250px;
    /* background: var(--light); */
    color: white;
    /* position: sticky;
    bottom: 0;
    display: flex; */
    background-color: #181818;
}

footer .container {
    display:flex;
    flex-direction: column;
    gap: 4rem;
    borde-radius: 10px;
    max-width: 1200px;
    width: 100%;
}

footer .contact {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 3rem 0 0 0;
    /* font-size: rem; */
    /* margin: auto; */
}

footer .contact p {
    margin: 0.25rem 0 ;
    /* font-family: 'syncopate', sans-serif;
    font-weight: 700; */
    /* color: #b5a5a1; */
    /* color: white; */
}

footer .contact .email {
    transition: all 0.2s ease-in;
    letter-spacing: 1px;
    color: white;
    /* padding: 0.5rem; */
}

footer .contact .email::after {
  width: 0%;
  content: '';
  height: 2px;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: all 0.5s ease;
}

footer .contact .email:hover::after {
    width: 80%;
}

footer small {
    text-align: end;
    color: rgba(225,225,225,0.4)
}

@media screen and (max-width: 768px) {
    footer .contact {
        font-size: 1.5rem;
    }
}