header {
    padding: 0 2rem;
    height: 60px;
    font-size: 1.25rem;
}

header > div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: 'Fascinate', cursive;
    font-size: 2.3rem;
    color: var(--light);
    /* background: url("../logo.png") no-repeat center/cover; */
}

.nav-bar {
    width: 400px;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    opacity: 0.8;
}

.nav-bar li a {
    color: white;
    /* font-family: 'syncopate', sans-serif; */
    text-transform: uppercase;
    font-size: 1.15rem;
    letter-spacing: 1.5px;
}

.nav-bar li a:hover {
    text-shadow: 1px 0 0 white;
}

header .left {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: flex-end;
}

header .socials {
    padding-right: 3rem;
}

div.lang-btns {
    display: flex;
    gap: 1rem;
}

.lang-btn {
    cursor: pointer;
}

.lang-btn:not(.current) {
    opacity: 0.6;
}

.lang-btn:not(.current):hover {
    text-shadow: 1px 0 0 white;
}

.lang-btn.current {
    opacity: 1;
    display: flex;
    position: relative;
    padding-bottom: 2px;
}

.lang-btn.current::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
}


@media screen and (max-width:768px) {
    .logo {
        font-size: 2rem;
    }

    .nav-bar {
        display: none;
    }
    header {
        padding: 0 1rem;
    }

    header .socials {
        display: none;
    }

    div.lang-btns {
        display: none;
    }
}