.hero_section {
    height: 100vh;
    min-height: 700px;
    max-height: 1000px;
    display: flex;
    padding-top: 3rem;
    position: relative;
}

.hero_section .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
}

.hero_section .content .top {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
}

.intro-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.intro-img .colored-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -20px;
    top: -20px;
    background-color: var(--light);
    z-index: -1;
}

.hero_section .intro-img img {
    width: 300px;
    border-radius: 0 0 50px 0;
}

.hero_section .content .intro-text {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    letter-spacing: 1.4px;
    font-family: 'Secular One', sans-serif;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    transform: translateY(100%);
    animation: revealTextUp 0.8s forwards 0.5s;
    /* text-transform: uppercase; */
    /* color: var(--light); */
} 

h1 span {
    display: inline-block;
}

.hero_section .content .intro-text p {
    font-size: 1.2em;
    margin: 0 0 2rem 0;
    opacity: 0.9;
}

.intro-text div {
    display: flex;
    gap: 1rem;
}

.intro-text div a {
    text-transform: uppercase;
    transition: all 0.4s ease;
    letter-spacing: 1.2px;
    font-size: 1rem;
    height: 40px;
    width: 160px;
    text-align: center;
    line-height: 40px;
}

.contact-btn {
    color: white;
    background-color: var(--light);
}

.contact-btn:hover,
.contact-btn:focus {
    background-color: rgba(207, 81, 56, 0.6);
    font-weight: bold;
}

.resume-btn {
    color: white;
    border: 1px solid var(--light);
}

.resume-btn:hover,
.resume-btn:focus {
    color: var(--light);
}

.hero_section .content div.bottom {
    display: flex;
    justify-content: flex-end;
}

/* bouncing arrow */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

.down-arrow {
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    right: 5rem;
    bottom: 8rem;
    width: 40px;
    height: 40px;
    animation: bounce 2s infinite;
    color: var(--light);
    opacity: 0.8;
}

.hero_section .socials {
    display: none;
}

@media screen and (max-width: 768px) {
    .hero_section {
        margin-bottom: 0;
        padding-top: 0;
    }

    .hero_section .content {
        gap: 0;
        margin: 4rem auto !important;
        justify-content: normal;
    }

    .hero_section .content > div {
        flex-direction: column;
    }

    .hero_section .content .top {
        gap: 2rem !important;
        margin-top: 0 !important;
    }

    .hero_section .intro-text {
        font-size: 1rem;
        text-align: center;
    }

    .intro-text div {
        justify-content: center;
    }

    .intro-text h1 {
        font-size: 1.75rem;
    }

    .hero_section img {
        width: 200px !important;
        border-radius: 50% !important;
        border: 3px solid var(--light);
    }

    .hero_section .content .socials {
        margin-top: 2rem;
    }

    .intro-text div a {
        width: 45%;
    }

    .hero_section .socials {
        display: flex;
        width: 80%;
        border-top: 0.5px solid rgba(225,225,225,0.5);
        margin: auto;
    }

    .hero_section .socials ul {
        justify-content: center;
        margin: auto;
        gap: 1rem;
        padding: 1rem 0 0 0;
    }

    .down-arrow {
        display: none;
    }

    .colored-shape {
        display: none;
    }
}