.hamburger-menu {
    width: 25px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    display: none;
}

.hamburger-menu div {
    height: 2px;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.2s ease;
}

.hamburger-menu-close {
    width: 15px;
    height: 25px;
    z-index: 600;
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.hamburger-menu-close::before,
.hamburger-menu-close::after  {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: white;
    opacity: 0.6;
}

.hamburger-menu-close::before {
    transform: rotate(-45deg);
}

.hamburger-menu-close::after {
    transform: rotate(45deg);
}

.menu-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 300;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 70px;
    text-align: center;
    gap: 2rem;
    display: none;
    background-color: var(--light);
}

.menu-modal ul {
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    align-items:center; 
    justify-content:center;
    height: 100%;
}

.menu-modal .socials li {
    background: #b5a5a1;
    padding: 1rem;
    border-radius: 50%;
}

.menu-modal ul li a {
    color: white;
    text-transform: uppercase;
    font-family: 'syncopate', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.2px;
    transition: font-size 0.2s ease;
}

.menu-modal ul li a:focus,
.menu-modal ul li a:active {
    font-size: 2.5rem;
}

.menu-modal .nav-links {
    padding-left: 0;
}

.menu-modal .lang-btn {
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-family: 'syncopate', sans-serif;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.menu-modal .hamburger-menu-close {
    position: absolute;
}

@media screen and (max-width:768px) {
    .hamburger-menu {
        display: flex;
    }
}