.hamburger-menu {
    width: 25px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    right: 1.2rem;
    display: none;
    z-index: 300;
}

.hamburger-menu div {
    height: 2px;
    background-color: var(--main-text-color);
    border-radius: 2px;
    transition: transform 0.5s ease;
}

.hamburger-menu.close div:first-child {
    transform: rotate(45deg) translate(3px, 6px);
}

.hamburger-menu.close div:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.hamburger-menu.close div:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -7px);
}

.menu-modal {
    position: fixed;
    width: 300px;
    height: 100vh;
    margin: 0;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    transition: all 0.5s ease;
    transform: translateX(100vw);
    visibility: hidden;
    box-shadow: var(--box-shadow);
    padding: 3rem;
    text-align: center;
    right: 0;
    overflow: scroll;
}

.menu-modal.active {
    transform: translateX(0);
    visibility: visible;
}

.menu-modal ul {
    display: flex; 
    flex-direction: column;
    position: relative;
    overflow: scroll;
    gap: 2rem;
}

.menu-modal.active ul li {
    transform: translateY(0) !important;
    transition: all .8s ease;
    opacity: 1;
}

.menu-modal ul li a {
    color: white;
    text-transform: uppercase;
    font-family: 'oswald', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    transition: font-size 0.2s ease;
}

.menu-modal .settings {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.menu-modal .lang-btns {
    display: block;
}

.menu-modal .lang-btn {
    font-family: 'quattrocento sans', sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    opacity: 0.8;
    margin: 0;
}

.menu-modal .lang-btn.current {
    display: none;
}

.menu-modal .theme-icon {
    display: block;
}

.menu-modal .theme-icon svg path {
    fill: #FFF;
    opacity: 0.8;
}

@media screen and (max-width: 950px) {
    .hamburger-menu {
        display: flex;
    }
}