.projects_container {
    padding-bottom: 10rem;
}

.project {
    display: flex;
    gap: 3rem;
    align-items: center;
    height: 300px;
    padding: 1rem 0;
    transform: translateY(200px);
}

.project-preview {
    width: 325px;
    height: 90%;
    border-radius: 8px;
    box-shadow: 1px 3px 1px 1px rgba(225,225,225, 0.1);
}

.project:not(:last-child) {
    border-bottom: 0.5px solid rgba(211,211,211, 0.4)
    ;
}

.project-infos {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.project-infos h3 {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 0.5rem;
}

.project-infos p {
    opacity: 0.7;
    font-size: 1.2rem;
    letter-spacing: normal;
    margin: 0;
    padding-bottom: 0.75rem;
}

.project-infos .tags {
    display: flex;
    gap: 0.75rem;
    padding-bottom: 1.5rem;
}

.project-infos .tag {
    color: rgba(255,255,255, 0.6);
    opacity: 1;
    font-size: 1rem;
    border: 1px solid rgba(255,255,255, 0.6);
    border-radius: 50px;
    padding: 0.3rem 0.75rem;
}

.project_btns {
    display: flex;
    gap: 3rem;
}

.project_btns .btn {
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    justify-content: center;
}

/* .project_btns .btn:hover::after {
    content: "→";
    width: 30px;
    height: 10px;
    position: relative;
} */

.project_btns .btn:hover,
.project_btns .btn:focus {
    font-weight: bold;
}

.demo_btn {
    color: var(--light);
}

.code_btn {
    color: white;
}

.coming-soon {
    background-color: rgba(225,225,225,0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.coming-soon p,
.coming-soon h3 {
    opacity: 0.6 !important;
}


.coming-soon img {
    filter: blur(1px);
}

.coming-soon .ribbon {
    width: 260px;
    height: 35px;
    background-color: var(--light);
    position: absolute;
    color: white;
    text-align: center;
    right: 0;
    top: 0px;
    transform: translateX(43%) translateY(-80%) rotate(45deg);
    transform-origin: top left;
    z-index: 10;
    clip-path: polygon(0 0,100% 0,100% 100%,calc(100% - 6px) calc(100% - 6px),6px calc(100% - 6px),0 100%);
}

@media screen and (max-width:768px) {
    .projects_container {
        margin: 0;
        padding: 0;
        padding-bottom: 10rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: start;
        /* padding: 2rem 1rem; */
        gap: 1rem;
        height: auto;
    }

    .project-preview {
        width: 90%;
        height: 80%;
        min-height: 100px;
        margin: auto;
    }

    .project-infos {
        margin: auto;
        text-align: center;
    }

    .project .tags {
        justify-content: center;
    }

    .project_btns {
        margin: auto;
    }

    .coming-soon {
        margin: 0 0.25rem;
    }
}

@media screen and (max-width: 330px) { 
    .project_btns .btn {
        width: 100px;
    }
}

@media (prefers-reduced-motion) {
    .project {
        transform: translateY(0);
    }
}