.skills_section {
    margin: 8rem auto;
    position: relative;
}

.skills_section::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 116%;
    background-color: var(--skills-bg);
    z-index: -1;
    top: -8%;
    box-shadow: var(--dark-box-shadow);
}

.skills_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 150px);
    align-items: center;
    justify-content: center;
    justify-items: center;
    transform: translateY(200px);
    max-width: 1150px;
    margin: auto;
}

.skill {
    height: 80px;
    max-height: 80px;
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.skill-logo {
    transition: all 0.1s ease;
}

.skill:hover .skill-logo,
.skill:focus .skill-logo,
.skill.show .skill-logo{
    transform: scale(1.2);
}

.skill:hover .skill-logo svg path,
.skill:focus .skill-logo svg path,
.skill.show .skill-logo svg path {
    fill: var(--light);
}

.skill p {
    margin: 10px auto;
    opacity: 0;
    text-align: center;
    transition: all 0.1s ease;
}


.skill:hover p,
.skill:focus p,
.skill.show {
    color: var(--light);
    opacity: 1;
}

@media screen and (max-width:768px) {  
    .skills_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 100px);
        gap: 60px 0;
    }

    .skill {
        text-align: center;
    }

    .skill svg path {
        height: 60px;
    }

    .skills_section::before {
        height: 118%;
        top: -9%;
    }
}

@media screen and (max-width: 350px) { 
    .skills_container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 50px);
        padding-top: 4rem;
    }
}

@media (prefers-reduced-motion) {
    .skills_container {
        transform: translateY(0);
    }
}