.skills_section {
    margin: 8rem auto;
    /* background: url("https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") center/cover no-repeat; */
    /* color: white; */
}

.skills_container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(3, 150px);
    list-style: none;
    align-items: center;
    justify-content: center;
}

.skill {
    height: 80px;
    max-height: 80px;
    display:flex;
    flex-direction:column;
    align-items:center;
    transition: all 0.1s ease;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.skill img {
    height: 80px;
    filter: grayscale(100%);
}

.skill:hover {
    transform: scale(1.2);
}

.skill:hover img {
    height: 80px;
    filter: grayscale(0);
}

.skill h4 {
    margin: 10px auto;
    display: none;
}


.skill:hover h4 {
    display: block;
}

@media screen and (max-width:768px) {  
    .skills_container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 100px);
    }

    .skills_section {
        margin: 10rem auto;
    }
}

@media screen and (max-width: 550px) { 
    .skills_section {
        margin: 5rem auto;
    } 

    .skills_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 50px);
        gap: 100px 10px;
        margin: 0 5%;
        padding-top: 2rem;
    }

    .skill img {
        height: 75px;
    }
}